Connected Services/DataService/DataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="details" type="tns:LoginAttemptDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LoginAttemptDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Register">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:RegisterAttemptDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RegisterAttemptDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConfirmPassword" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RegisterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateResetEmailRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateResetEmailRequestResponse">
        <s:complexType />
      </s:element>
      <s:element name="CanResetPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="guid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CanResetPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CanResetPasswordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="details" type="tns:PasswordResetDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PasswordResetDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ResetGuid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ResetPasswordResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetProducts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="commaIds" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductsResult" type="tns:ArrayOfProductSqlModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProductSqlModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProductSqlModel" nillable="true" type="tns:ProductSqlModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProductSqlModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Category" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AveragePrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="BuyPrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="SellPrice" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="ImageUrl" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Stock" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Active" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetProductsByPage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pageNumber" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductsByPageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductsByPageResult" type="tns:ArrayOfProductSqlModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductsByPartial">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="partialName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductsByPartialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductsByPartialResult" type="tns:ArrayOfProductSqlModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetActiveProductsByPartial">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="partialName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetActiveProductsByPartialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetActiveProductsByPartialResult" type="tns:ArrayOfProductSqlModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllProductNamesAndIds">
        <s:complexType />
      </s:element>
      <s:element name="GetAllProductNamesAndIdsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllProductNamesAndIdsResult" type="tns:ArrayOfProductSqlModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="product" type="tns:ProductSqlModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveProductResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveProductResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="productId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteProductResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteProductResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMembersByEmailOrId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchTerm" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMembersByEmailOrIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMembersByEmailOrIdResult" type="tns:ArrayOfMemberSqlModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMemberSqlModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MemberSqlModel" nillable="true" type="tns:MemberSqlModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MemberSqlModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaveSellProductRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sellProductRequest" type="tns:SellProductRequestDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SellProductRequestDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MemberId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ProductId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Quality" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ImageData" type="tns:ArrayOfBase64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="ImageExtensions" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfBase64Binary">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="base64Binary" nillable="true" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaveSellProductRequestResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateSellRequestStatusAndReason">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateSellRequest" type="tns:UpdateSellRequestDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UpdateSellRequestDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusReason" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SellRequestId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateSellRequestStatusAndReasonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateSellRequestStatusAndReasonResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSellRequestsByMemberId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="memberId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSellRequestsByMemberIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSellRequestsByMemberIdResult" type="tns:ArrayOfSellRequestSqlModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSellRequestSqlModel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SellRequestSqlModel" nillable="true" type="tns:SellRequestSqlModel" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SellRequestSqlModel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MemberId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ProductId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Quality" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DateTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusReason" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllSellRequests">
        <s:complexType />
      </s:element>
      <s:element name="GetAllSellRequestsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllSellRequestsResult" type="tns:ArrayOfSellRequestSqlModel" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterSoapIn">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="RegisterSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="CreateResetEmailRequestSoapIn">
    <wsdl:part name="parameters" element="tns:CreateResetEmailRequest" />
  </wsdl:message>
  <wsdl:message name="CreateResetEmailRequestSoapOut">
    <wsdl:part name="parameters" element="tns:CreateResetEmailRequestResponse" />
  </wsdl:message>
  <wsdl:message name="CanResetPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:CanResetPassword" />
  </wsdl:message>
  <wsdl:message name="CanResetPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:CanResetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ResetPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ResetPassword" />
  </wsdl:message>
  <wsdl:message name="ResetPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ResetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductsSoapIn">
    <wsdl:part name="parameters" element="tns:GetProducts" />
  </wsdl:message>
  <wsdl:message name="GetProductsSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductsResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductsByPageSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductsByPage" />
  </wsdl:message>
  <wsdl:message name="GetProductsByPageSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductsByPageResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductsByPartialSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductsByPartial" />
  </wsdl:message>
  <wsdl:message name="GetProductsByPartialSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductsByPartialResponse" />
  </wsdl:message>
  <wsdl:message name="GetActiveProductsByPartialSoapIn">
    <wsdl:part name="parameters" element="tns:GetActiveProductsByPartial" />
  </wsdl:message>
  <wsdl:message name="GetActiveProductsByPartialSoapOut">
    <wsdl:part name="parameters" element="tns:GetActiveProductsByPartialResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllProductNamesAndIdsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllProductNamesAndIds" />
  </wsdl:message>
  <wsdl:message name="GetAllProductNamesAndIdsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllProductNamesAndIdsResponse" />
  </wsdl:message>
  <wsdl:message name="SaveProductSoapIn">
    <wsdl:part name="parameters" element="tns:SaveProduct" />
  </wsdl:message>
  <wsdl:message name="SaveProductSoapOut">
    <wsdl:part name="parameters" element="tns:SaveProductResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteProductSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteProduct" />
  </wsdl:message>
  <wsdl:message name="DeleteProductSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteProductResponse" />
  </wsdl:message>
  <wsdl:message name="GetMembersByEmailOrIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetMembersByEmailOrId" />
  </wsdl:message>
  <wsdl:message name="GetMembersByEmailOrIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetMembersByEmailOrIdResponse" />
  </wsdl:message>
  <wsdl:message name="SaveSellProductRequestSoapIn">
    <wsdl:part name="parameters" element="tns:SaveSellProductRequest" />
  </wsdl:message>
  <wsdl:message name="SaveSellProductRequestSoapOut">
    <wsdl:part name="parameters" element="tns:SaveSellProductRequestResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSellRequestStatusAndReasonSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateSellRequestStatusAndReason" />
  </wsdl:message>
  <wsdl:message name="UpdateSellRequestStatusAndReasonSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateSellRequestStatusAndReasonResponse" />
  </wsdl:message>
  <wsdl:message name="GetSellRequestsByMemberIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetSellRequestsByMemberId" />
  </wsdl:message>
  <wsdl:message name="GetSellRequestsByMemberIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetSellRequestsByMemberIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllSellRequestsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllSellRequests" />
  </wsdl:message>
  <wsdl:message name="GetAllSellRequestsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllSellRequestsResponse" />
  </wsdl:message>
  <wsdl:portType name="DataServiceSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input message="tns:RegisterSoapIn" />
      <wsdl:output message="tns:RegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateResetEmailRequest">
      <wsdl:input message="tns:CreateResetEmailRequestSoapIn" />
      <wsdl:output message="tns:CreateResetEmailRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CanResetPassword">
      <wsdl:input message="tns:CanResetPasswordSoapIn" />
      <wsdl:output message="tns:CanResetPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <wsdl:input message="tns:ResetPasswordSoapIn" />
      <wsdl:output message="tns:ResetPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <wsdl:input message="tns:GetProductsSoapIn" />
      <wsdl:output message="tns:GetProductsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductsByPage">
      <wsdl:input message="tns:GetProductsByPageSoapIn" />
      <wsdl:output message="tns:GetProductsByPageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductsByPartial">
      <wsdl:input message="tns:GetProductsByPartialSoapIn" />
      <wsdl:output message="tns:GetProductsByPartialSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetActiveProductsByPartial">
      <wsdl:input message="tns:GetActiveProductsByPartialSoapIn" />
      <wsdl:output message="tns:GetActiveProductsByPartialSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProductNamesAndIds">
      <wsdl:input message="tns:GetAllProductNamesAndIdsSoapIn" />
      <wsdl:output message="tns:GetAllProductNamesAndIdsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveProduct">
      <wsdl:input message="tns:SaveProductSoapIn" />
      <wsdl:output message="tns:SaveProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <wsdl:input message="tns:DeleteProductSoapIn" />
      <wsdl:output message="tns:DeleteProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMembersByEmailOrId">
      <wsdl:input message="tns:GetMembersByEmailOrIdSoapIn" />
      <wsdl:output message="tns:GetMembersByEmailOrIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveSellProductRequest">
      <wsdl:input message="tns:SaveSellProductRequestSoapIn" />
      <wsdl:output message="tns:SaveSellProductRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSellRequestStatusAndReason">
      <wsdl:input message="tns:UpdateSellRequestStatusAndReasonSoapIn" />
      <wsdl:output message="tns:UpdateSellRequestStatusAndReasonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSellRequestsByMemberId">
      <wsdl:input message="tns:GetSellRequestsByMemberIdSoapIn" />
      <wsdl:output message="tns:GetSellRequestsByMemberIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSellRequests">
      <wsdl:input message="tns:GetAllSellRequestsSoapIn" />
      <wsdl:output message="tns:GetAllSellRequestsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DataServiceSoap" type="tns:DataServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateResetEmailRequest">
      <soap:operation soapAction="http://tempuri.org/CreateResetEmailRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CanResetPassword">
      <soap:operation soapAction="http://tempuri.org/CanResetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap:operation soapAction="http://tempuri.org/ResetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <soap:operation soapAction="http://tempuri.org/GetProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductsByPage">
      <soap:operation soapAction="http://tempuri.org/GetProductsByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductsByPartial">
      <soap:operation soapAction="http://tempuri.org/GetProductsByPartial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveProductsByPartial">
      <soap:operation soapAction="http://tempuri.org/GetActiveProductsByPartial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProductNamesAndIds">
      <soap:operation soapAction="http://tempuri.org/GetAllProductNamesAndIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveProduct">
      <soap:operation soapAction="http://tempuri.org/SaveProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <soap:operation soapAction="http://tempuri.org/DeleteProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMembersByEmailOrId">
      <soap:operation soapAction="http://tempuri.org/GetMembersByEmailOrId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSellProductRequest">
      <soap:operation soapAction="http://tempuri.org/SaveSellProductRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSellRequestStatusAndReason">
      <soap:operation soapAction="http://tempuri.org/UpdateSellRequestStatusAndReason" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSellRequestsByMemberId">
      <soap:operation soapAction="http://tempuri.org/GetSellRequestsByMemberId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSellRequests">
      <soap:operation soapAction="http://tempuri.org/GetAllSellRequests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DataServiceSoap12" type="tns:DataServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateResetEmailRequest">
      <soap12:operation soapAction="http://tempuri.org/CreateResetEmailRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CanResetPassword">
      <soap12:operation soapAction="http://tempuri.org/CanResetPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap12:operation soapAction="http://tempuri.org/ResetPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProducts">
      <soap12:operation soapAction="http://tempuri.org/GetProducts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductsByPage">
      <soap12:operation soapAction="http://tempuri.org/GetProductsByPage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductsByPartial">
      <soap12:operation soapAction="http://tempuri.org/GetProductsByPartial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveProductsByPartial">
      <soap12:operation soapAction="http://tempuri.org/GetActiveProductsByPartial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProductNamesAndIds">
      <soap12:operation soapAction="http://tempuri.org/GetAllProductNamesAndIds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveProduct">
      <soap12:operation soapAction="http://tempuri.org/SaveProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <soap12:operation soapAction="http://tempuri.org/DeleteProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMembersByEmailOrId">
      <soap12:operation soapAction="http://tempuri.org/GetMembersByEmailOrId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSellProductRequest">
      <soap12:operation soapAction="http://tempuri.org/SaveSellProductRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSellRequestStatusAndReason">
      <soap12:operation soapAction="http://tempuri.org/UpdateSellRequestStatusAndReason" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSellRequestsByMemberId">
      <soap12:operation soapAction="http://tempuri.org/GetSellRequestsByMemberId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSellRequests">
      <soap12:operation soapAction="http://tempuri.org/GetAllSellRequests" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataService">
    <wsdl:port name="DataServiceSoap" binding="tns:DataServiceSoap">
      <soap:address location="https://localhost:44378/DataService.asmx" />
    </wsdl:port>
    <wsdl:port name="DataServiceSoap12" binding="tns:DataServiceSoap12">
      <soap12:address location="https://localhost:44378/DataService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>